/mnt/e/OneDrive/Alura/python3-oo/env/
/mnt/e/OneDrive/Alura/python3-oo/venv/
/mnt/e/OneDrive/Alura/python3-oo/.idea/
/mnt/e/OneDrive/Alura/python3-oo/.vscode/
/mnt/e/OneDrive/Alura/python3-oo/__pycache__/
/mnt/e/OneDrive/Alura/python3-p1/venv/
/mnt/e/OneDrive/Alura/python3-p1/__pycache__/
/mnt/e/OneDrive/Alura/python3-p1/.idea/
/mnt/e/OneDrive/Alura/python3-aoo/venv/
/mnt/e/OneDrive/Alura/python3-aoo/__pycache__/
/mnt/e/OneDrive/Alura/python3-aoo/.idea/
/mnt/e/OneDrive/Alura/python3-aoo/.vscode/
